spring:
  application:
    name: sthal-gateway-server
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: users-service-route
              uri: lb://stahl-users-service
              predicates:
                - Path=/api/users/**
                - Path=/auth/**
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

server:
  port: 8080
  forward-headers-strategy: framework
