name: Benchmark CI
on:
  push:
    branches:
      - master
jobs:
  benchmark:
    name: 'Call benchmarks test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Set up JDK'
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: 'Set up Gradle'
        uses: gradle/actions/setup-gradle@v4
      - name: 'Run JMH task'
        run: ./gradlew --stacktrace --info jmh
