name: Test CI
on:
  push:
    branches:
      - master

jobs:
  test:
    name: 'Call test tasks'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Set up JDK'
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: 'Set up Gradle'
        uses: gradle/actions/setup-gradle@v4
      - name: 'Run tests'
        run: ./gradlew --stacktrace --info test
      #- name: 'Run Gatgling tests'
      #  run: ./gradlew --stacktrace --info gatlingRun